@{
    ViewData["Title"] = "Autor";
}
<h1>Autor del sitio</h1>
<hr/>
<p>Carlos Alejandro Arrieta Montes de Oca</p>
<p>Correo: <a href="mailto:carlozalejandro98@gmail.com">carlozalejandro98@gmail.com</a><p>
<p>Código fuente: <a href="https://github.com/Carlitonchin/blog">Github</a></p>
