@model blog.Models.Note

@{
    ViewData["Title"] = "Details";
}

    <a class="btn btn-secondary w-fit mb-2" asp-action="Index">Mis Notas</a>

    <div class="flex-row align-center">
    <h3 class="m-0">@Html.DisplayFor(model => model.Title)</h3>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="mleft-1">
    <img src="/icons/edit.svg" class="icon edit-icon ml-5"/>
    </a>
    <a asp-action="Delete" asp-route-id="@Model.Id">
    <img src="/icons/delete.svg" class="icon delete-icon ml-0-5"/>
    </a>
    </div>
    <hr />
    
 @Html.DisplayFor(model => model.Body)
     
